* {
  background-color: rgb(255, 255, 255);
}

#jumbotron {
  text-align: center;
}

#aboutMe {
  text-align: center;
  display: flex;
  justify-content: start;
  margin-left: 300px;
  margin-top: 150px;
}

#projects {
text-align: center;
display:flex;
justify-content: center;
}

#skills {
text-align: center;
display:flex;
justify-content:end;
margin-right: 300px;
margin-bottom: 150px;
}
#linkedIn {
  max-width: 4%;
  height: auto;
}
