* {
  background-color: rgb(255, 255, 255);
}

#jumbotron {
  text-align: center;
}

section {
  display: inline-block;
  text-align: center;
}
#aboutMe {
  margin-left: 300px;
}

#skills {
  margin-right: 300px;
}
#linkedIn {
  max-width: 4%;
  height: auto;
}

#linkedIn {
  max-width: 4%;
  height: auto;
  justify-content: end;
}

#linkedIn {
  max-width: 2%;
  height: auto;
  position: absolute;
  bottom: 10px;
}
